In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.arange(3,12,2), dtype='float32')
s

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32

In [3]:
s = pd.Series(list('가나다라마'))
s

0    가
1    나
2    다
3    라
4    마
dtype: object

In [4]:
sample = pd.Series([10,20,30,40,50], index=list('가나다라마'), dtype='int64')
sample

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [5]:
sample[['나', '라']]

나    20
라    40
dtype: int64

In [6]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int64

In [7]:
sample2[sample2<=160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int64

In [8]:
sample2[(sample2>=130) & (sample2<=170)]

11    134
13    140
dtype: int64

In [9]:
pd.Series(['apple', np.nan, 'banana', 'kiwi', 'gubong'], index=list("가나다라마"))

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

In [10]:
sample = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
sample

0    IT서비스
1      NaN
2      반도체
3      NaN
4      바이오
5     자율주행
dtype: object

In [11]:
sample[sample.isnull()]

1    NaN
3    NaN
dtype: object

In [12]:
sample[sample.notnull()]

0    IT서비스
2      반도체
4      바이오
5     자율주행
dtype: object

In [13]:
np.random.seed(0)
sample = pd.Series(np.random.randint(100, 200, size=(10,)))
sample

0    144
1    147
2    164
3    167
4    167
5    109
6    183
7    121
8    136
9    187
dtype: int64

In [14]:
sample[2:7]

2    164
3    167
4    167
5    109
6    183
dtype: int64

In [15]:
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
sample2

가    144
나    147
다    164
라    167
마    167
바    109
사    183
아    121
자    136
차    187
dtype: int64

In [16]:
sample2['바':]

바    109
사    183
아    121
자    136
차    187
dtype: int64

In [17]:
sample2[:'다']

가    144
나    147
다    164
dtype: int64

In [18]:
sample2['나':'바']

나    147
다    164
라    167
마    167
바    109
dtype: int64