In [1]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [2]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [3]:
data = 1,
print(type(data))

<class 'tuple'>

In [4]:
t = (1, 2, 3)
# t[0] = 'a'

In [5]:
t = 1, 2, 3, 4
print(type(t[0]))

<class 'int'>

In [6]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [7]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(type(interest))

<class 'list'>

In [8]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
print(type(interest))

<class 'tuple'>

In [9]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [10]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [11]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(valid_score)

0
1
[2, 3, 4, 5]
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [12]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [13]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [14]:
temp = {}
print(type(temp))

<class 'dict'>

In [15]:
data = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(data)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [16]:
data.update({'죠스바':1200, '월드콘':1500})
print(data)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [17]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print(f"메로나 가격: {ice['메로나']}")

메로나 가격: 1000

In [18]:
ice['메로나'] = 1300
print(ice['메로나'])

1300

In [19]:
ice.pop('메로나')
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [20]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# icecream['누가바']

In [21]:
inventory = {'메로나': [300, 20], '비비빅':[400,3], '죠스바':[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [22]:
print(inventory['메로나'][0], '원')

300 원

In [23]:
print(inventory['메로나'][1], '개', sep='')

20개

In [24]:
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}
inventory.update({'월드콘':[500, 7]})
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [25]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
data = list(icecream.keys())
print(data)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [26]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
data = list(icecream.values())
print(data)

[1200, 1200, 1800, 1500, 1000]

In [27]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(icecream.values())

6700

In [28]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수': 2700, '아맛나': 1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [29]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [30]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}