In [1]:
import pandas as pd

In [3]:
pd.Series([100,200,300])

0    100
1    200
2    300
dtype: int64

In [5]:
pd.Series([100,200,300], index=['철수', '영희', '아름'])

철수    100
영희    200
아름    300
dtype: int64

In [9]:
score = {'철수':100, '영희':200, '아름':300}
s = pd.Series(score)
s

철수    100
영희    200
아름    300
dtype: int64

In [11]:
data=[100,200,300]
index = ['철수', '영희', '아름']
s = pd.Series(data, index)
s.index

Index(['철수', '영희', '아름'], dtype='object')

In [12]:
s.values

array([100, 200, 300])

In [14]:
s.to_dict()

{'철수': 100, '영희': 200, '아름': 300}

In [16]:
#s.to_excel('data.xlsx')
# https://pandas.pydata.org/docs/reference/api/pandas.Series.to_excel.html

In [17]:
data = [100, 200, 300]
index = ['철수', '영희', '아름']
s=pd.Series(data, index)

In [18]:
s.dtype

dtype('int64')

In [19]:
s.index.dtype

dtype('O')

In [22]:
data = {
    "2020-12-11": 73400,
    "2020-12-10": 72900,
    "2020-12-09": 73900,
    "2020-12-08": 71700,
    "2020-12-07": 72900
}

s = pd.Series(data)
s.name = "종가"
s.index.name = "날짜"
s

날짜
2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
Name: 종가, dtype: int64

In [23]:
pd.Series([1.0,2.0,None])

0    1.0
1    2.0
2    NaN
dtype: float64

In [25]:
import numpy as np
np.array(pd.Series([1,2,3]).index)

array([0, 1, 2])